[Unit]
Description=Overwitch service
After=pipewire.service
Requires=pipewire.service

[Service]
Type=notify-reload
GuessMainPID=true
ExecStart=overwitch-service
Restart=on-failure

[Install]
WantedBy=default.target
